@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

.bullet-point {
    position: relative;
    padding-left: 1.5em; /* Adjust this value as needed */
  }
  
  .bullet-point::before {
    content: "•";
    position: absolute;
    left: 0;
    color: inherit; /* Use the same color as the text */
  }